.scomplaint-container {
    text-align: center;
    padding: 40px;
  }
  
  .complaint-options {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 items per row */
    gap: 40px; /* Space between boxes */
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;;

    
  }
  
  .option {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #161A30;
    color: white;
    padding: 20px;
    border-radius: 12px;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    transition: transform 0.3s ease, background 0.3s ease;
    height: 300px; /* Adjust height */
    width: 300px;;
  }
  
  .option img {
    width: 150px; /* Adjust image size */
    height: 150px;
    margin-bottom: 10px;
    border-radius: 50%;
  }
  
  .option:hover {
    transform: scale(1.05);
    background-color: #31304D;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .complaint-options {
      grid-template-columns: repeat(2, 1fr); /* 2 items per row on smaller screens */
    }
  }
  
  @media (max-width: 480px) {
    .complaint-options {
      grid-template-columns: repeat(1, 1fr); /* 1 item per row on mobile */
    }
  }
  
  .description
  {
    color: #161A30;
    font-weight: bold;
    font-size:17px;
  }
  
  #maintxt
  {
    color:#161A30;
    font-size: 30px;
  }

  body{
    background-color:#F0ECE5;
  }

  .go-back-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color:#161A30;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

  }
  
  .go-back-btn:hover {
   background-color: #31304D;
  }
  