/* AHeader.css */
.aheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    background-color: #161A30; 
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding-top: 30px;
    padding-bottom: 20px;
  }
  
  .aheader h1 {
    font-size: 20px;
    font-weight: bold;
  }
  
  .aheader-right {
    display: flex;
    align-items: center;
    gap: 30px;
   
    margin-right: 20px;
  }
  
  .aheader-right a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: opacity 0.3s ease;
  }
  
  .aheader-right a:hover {
    opacity: 0.8;
  }
  
  /* Profile Icon Styling */
  .profile-icon .icon {
    font-size: 20px;
    color: white;
    transition: opacity 0.3s ease;
  }
  
  .profile-icon .icon:hover {
    opacity: 0.8;
  }
  
  .aheader-right button {
    background: transparent;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
  }
  
  .aheader-right button:hover {
    background: rgba(255, 255, 255, 0.2);
  }
  #logo
  {
    color:white;
  }