/* /src/Components/SNavBar/SNavBar.css */

.s-navbar {
    z-index: 3;
    position: fixed;
    display: flex;
    background-color: #161A30; /* Dark background */
    align-items: center;
    justify-content: space-between;
    padding: 3px;
    margin-top: 0;
    height: 80px;
    top: 0;
    width: 90%;
  }
  
  .s-navbar h2 {
    color: #F0ECE5; /* Light color for logo text */
  }
  
  .s-logo {
    padding-left: 21px;
    cursor: pointer;
  }
  
  .s-navbar-links {
    overflow: hidden;
  }
  
  .s-navbar-links .link {
    list-style: none;
    display: flex;
    align-items: center;
    padding-right: 20px;
  }
  
  .s-navbar-links .link li {
    padding: 0 15px;
    cursor: pointer;
    font-weight: bolder;
    position: relative;
    transition: color 0.3s ease;
    text-decoration: none;
    color: #F0ECE5; /* Ensure text color matches the theme */
  }
  
  .s-navbar-links .link li:hover {
    color: #B6BBC4; /* Hover color */
    font-size: large;
  }
  
  .s-navbar-links .link a {
    color: #F0ECE5; /* Matching text color for links */
    text-decoration: none; /* Remove underline from links */
  }
  
  .s-navbar-links .link a:hover {
    color: #B6BBC4; /* Hover color for links */
    font-size: large; /* Hover font size */
  }
  
  .s-navbar-links .link li:first-child {
    padding-left: 0;
  }
  
  .s-navbar-links .link li:last-child {
    padding-right: 0;
  }
  
  .s-navbar-links .link li:hover::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #B6BBC4; /* Hover underline effect */
  }
  
  .s-navbar a {
    text-decoration: none; /* Remove underline */
  }
  